<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | E-Shopper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/prettyPhoto.css" rel="stylesheet">
  <link href="/css/price-range.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/ico/favicon.ico">
</head>
<body>

{% include 'template/header.html.twig' %}

{% block content %}{% endblock %}

{% include 'template/footer.html.twig' %}

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>
