<div class="col-xs-12">
  <div class="box box-primary">
    <div class="box-body">
      <form action="{{ url }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label required" for="title">
            Название
          </label>
          <input type="text"
                 id="title"
                 name="title"
                 required="required"
                 class=" form-control"
                 value="{{ brand.title }}"
          >
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
      </form>
    </div>
  </div>
</div>
